@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  body {
    @apply bg-slate-950 text-slate-100 antialiased selection:bg-slate-800 selection:text-white m-0 h-screen overflow-hidden;
  }
}

/* Custom scrollbar for data dense panels */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full hover:bg-slate-700 transition-colors;
}
